<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notification Example</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <h1>WebSocket Notification Example</h1>
    
    <!-- The div where notifications will be displayed -->
    <div id="notificationDiv"></div>


    <!-- Your custom JavaScript code -->
    <script th:inline="javascript">
        var stompClient = null;

        $(document).ready(function () {
            connect();
        });

        function connect() {
            var socket = new SockJS('https://' + window.location.hostname + ':8080/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/notification', function (message) {
                    var messegeDTO = JSON.parse(message.body);
                    updateNotification(messegeDTO);
                });
            });
        }

        function updateNotification(messegeDTO) {
            // Update your UI with the received notification
            var notificationContent = 'Message ID: ' + messegeDTO.msgId +
                ', Content: ' + messegeDTO.content +
                ', Date: ' + messegeDTO.localDate;

            // For simplicity, appending the notification content to the div
            $('#notificationDiv').append('<p>' + notificationContent + '</p>');
        }
    </script>
</body>


</html>
